<meta charset="utf-8">
  <!--
<nav class="navbar navbar-default">
  <div class="container-fluid">

   
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Aplicación Gestión de Peticiones</a>
    </div>
	
    <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a  target="_blank" routerLink="/tablaproducto">Tabla PRODUCTO</a>
        </li>
        <li routerLinkActive="active">
          <a  target="_blank" routerLink="/tablacostesgastos">Tabla CyG e Incentivos</a>
        </li>       
    </ul>
        
    <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a  target="_blank" routerLink="/precontractual">PREContractual</a>
        </li>
        <li routerLinkActive="active">
          <a  target="_blank" routerLink="/contractual">CONTractual</a>
        </li>
        <li routerLinkActive="active">
          <a  target="_blank" routerLink="/postcontractual">POSTContractual</a>
        </li>
    </ul>
                                
  </div>
  
</nav>
-->

<div class="container">
  <router-outlet></router-outlet>
</div>


