/* You can add global styles to this file, and also import other style files */
.control-label.required:after { 
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 5px;
    top:7px;
}

body {
	margin-top:0px;
	background-image: url(assets/images/background.jpg);	
    rgba: (0,0,0,0.5);
    background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;	
	
}

.form-control {   
    width: 100%;    
}


.navbar-inverse {
    background-color: #ff0000;
    border-color: #ff0000;
}  

.navbar-inverse .navbar-brand {
    color: #ffffff
}

legend {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    /** border-color: currentcolor currentcolor #e5e5e5; **/
    border-image: none;
    /** border-style: none none solid; **/
    border-width: 0 0 0px;
    color: #170000;
    display: block;
    font-size: 28px;
    line-height: inherit;
    margin-bottom: 20px;
    padding: 0;
    width: 100%;
}

textarea {
    resize: none;
}